@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Adobe fonts */
@import url("https://use.typekit.net/alm6vqx.css");

/* For debugging overflow issues */
/* * {
  border: 1px solid #f00 !important;
} */

strong {
  font-weight: 500;
}

input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #48bb78;
}
