@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Adobe fonts */
@import url("https://use.typekit.net/alm6vqx.css");

/* For debugging overflow issues */
/* * {
  border: 1px solid #f00 !important;
} */

strong {
  font-weight: 500;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(10vh);
  visibility: hidden;
  transition: opacity 0.5s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #48bb78;
}

@layer utilities {
  .list-interpunct > li:before {
    content: "・";
    float: left;
    /* margin: 0 0 0 -0.9em; */
    margin: 0;
    width: 0.9em;
  }

  @media (min-width: 992px) {
    .list-interpunct > li:before {
      /* margin: 0 0 0 -1.5em; */
      margin: 0;
      width: 1.5em;
    }
  }
}
