@import url("https://use.typekit.net/alm6vqx.css");
@import "./DevPortfolio/dist/styledictionary/css/variables.css";

body {
  background-color: var(--white);
  background-image: linear-gradient(
    135deg,
    transparent 45%,
    var(--blue-alpha) 45%,
    var(--blue-alpha) 50%,
    var(--blue) 50%,
    var(--blue) 80%,
    var(--blue-alpha) 80%,
    var(--blue-alpha) 85%,
    transparent 85%
  );
  height: 200vh;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
